{
  admin off
}


{$SITE_ADDRESS} {
  encode zstd gzip

  file_server {
    root /app/public
  }
}

{$API_ADDRESS} {
  log {
    output stdout
    format console
  }

  # Deny access to any connection not from LAN or localhost.
  @not_lan {
    not remote_ip 127.0.0.1 127.0.1.1 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8
  }
  respond @not_lan 403

  # reverse proxy to ceiled-server
  reverse_proxy {$SERVER_ADDRESS} {
    header_up Host {host}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto {scheme}
  }
}

# TODO:
# - Enable better caching mechanisms, see Chrome Lighthouse audits.
# - Enable health checks on ceiled-server?
